@font-face {
    font-family: "ComicSansMS";
    src: url('fonts/ComicSansMS.woff')format('woff');
}
.burger-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}


body {
    background-color: #722525;
    font-family: "ComicSansMS";
}

.dheader {
  width: 1465px;
  height: 60px;
  background-color: #ffffff;
  align-content: center;
  text-align: center;
  padding-top: 15px;
}

.dlogo {
  width: 220px;
  height: 90px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div {
  display: inline-block;
}

.svlogo {
  text-align: center;
  width: 200px;
  height: 110px;
  margin-top: 0;
}


main {
    vertical-align: middle;
    display: block;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
  background-color: #d2d1d1;
  width: 100%;
}


.toimg {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

.toimg1 {
  display: inline-block;
  height: 54px;
  width: 50px;
  margin-top: 20px;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
@media (min-width: 1200px) {
    .sheet {
        width: 1300px !important;
    }

    footer {
        height: 120px;
    }

    .d1 {
        float: left;
        vertical-align: middle;
    }

    .d2 {
        float: right;
    }

    .d3 {
        display: inline-block;
        text-align: center;
        align-content: center;
        padding-left: 100px;
    }

    h3 {
        display: inline-block;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
    .glpic {
        padding-top: 30px;
        width: 1200px;
        height: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dmain {
        background-color: #ffffff;
        margin-top: 50px;
        margin-left: 60px;
        margin-right: 50px;
        width: 1340px;
        height: 800px;
    }
    .hheader {
        display: inline;
        margin-right: 200px;
        margin-top: 40px;
        padding-top: 20px;
        vertical-align: middle;
    }
    main header {
        font-size: 30px;
    }
    h3 {
        display: inline-block;
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sheet {
        width: 940px !important;
    }

    footer {
        height: 120px;
        margin-top:25%;
    }

    .d1 {
        float: left;
        vertical-align: middle;
    }

    .d2 {
        float: right;
    }

    .d3 {
        display: inline-block;
        text-align: center;
        align-content: center;
        padding-left: 100px;
    }
    .glpic {
        padding-top: 30px;
        width: 100%;
        height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dmain {
        background-color: #722525;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 630px;
    }
    main header {
        font-size: 25px;
    }
    .hheader {
        display: inline;
        margin-right: 100px;
        margin-top: 40px;
        padding-top: 20px;
        vertical-align: middle;
    }
   
}

@media (min-width: 768px) and (max-width: 991px) {
    .sheet {
        width: 720px !important;
    }
    .hheader {
        display: inline;
        margin-right: 40px;
        margin-top: 40px;
        padding-top: 20px;
        vertical-align: middle;
    }

    main header {
        font-size: 20px;
    }
    .glpic {
        padding-top: 30px;
        width: 100%;
        height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dmain {
        background-color: #722525;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 500px;
    }
    footer{
            margin-top:25%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .sheet {
        width: 540px !important;
    }

    footer {
        height: 300px !important;
    }

    d1 {
        float: right;
    }

    .dheader {
        flex-direction: column;
        align-items: center;
        height:180px !important;
            }

    .hheader {
        display: block;
        margin: 5px;
    }
    main header {
        font-size: 15px;
    }
    .glpic {
        padding-top: 30px;
        width: 100%;
        height: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dmain {
        background-color: #722525;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 400px;
    }
}

@media (max-width: 575px) {
    .sheet {
        width: 340px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    footer {
        height: 300px !important;
    }
    .dheader {
        flex-direction: column;
        align-items: center;
        height: 180px !important;
    }

    .hheader {
        display: block;
        margin: 5px;
    }

    main header {
        font-size: 15px;
    }

    .glpic {
        padding-top: 30px;
        width: 100%;
        height: 330px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dmain {
        background-color: #722525;
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        height: 400px;
    }


}
