@font-face {
    font-family: "ComicSansMS";
    src: url('fonts/ComicSansMS.woff')format('woff');
}
.naglav {
    text-decoration: double;
    text-align: center;
}
.inner {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.clickable {
    font-size: 2em;
    font-weight: bold;
}

.links {
    display: none;
    position: absolute;
    top: 100%; /* Позиционирует меню непосредственно под элементом */
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}

.link-box {
    padding: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}
.forglav {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}
body {
    background-color: #722725;
    font-family: "ComicSansMS";
}
header {
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.dheader {
    width: 100%;
    height: 70px;
    background-color: white;
    align-content: center;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.svlogo {
    width: 100px;
    height: 100px;
    float: left;
    margin: auto;
}
.headtext {
    display: inline-block;
    text-align: center;
    padding-top:10px;
    width: 100px;
    height: 100px;
}
.inner {
    width: 50px;
    border: none;
    margin: auto;
    padding-top: 1px;
    padding-right: 400px;
    white-space: nowrap;
    padding-top:15px;
}
main {
    background-color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content:center;
    align-content:center;
}


.pics {
    width: 100%;
    height: 230px;
}
footer {
    background-color: #d2d1d1;
    width: 100%;
   
    margin-left: auto;
    margin-right: auto;
}

.d1 {
    float: left;
    vertical-align: middle;
}

.d2 {
    float: right;
}
button{
    color:#ffed00;
}
h3 {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.d3 {
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-left: 150px;
}

.toimg {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.toimg1 {
    display: inline-block;
    height: 54px;
    width: 50px;
    margin-top: 20px;
}
.slider {
    position: relative;
    display:flex;
    align-content:center;
}
/*
    .slider img {
        display: none;
        width: 1000px;
        height: 700px;
        padding:70px 0px 0px 140px;
    }
*/
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

@media (min-width: 1200px){
    body {
        font-size: 30px !important;
    }
    .slider img {
        display: none;
        width: 1000px;
        height: 700px;
        padding-top: 60px;
    }
    main {
        width: 1300px;
        height: 850px;
    }
    .im{
        max-width:100%;
        height:auto;
    }
    footer {
        height: 120px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sheet {
        width: 940px !important;
    }

    footer {
        height: 120px;
    }

    .d1 {
        float: left;
        vertical-align: middle;
    }

    .d2 {
        float: right;
    }

    .d3 {
        display: inline-block;
        text-align: center;
        align-content: center;
        padding-left: 100px;
    }
    .im{
        width:400px;
        height:200px;
    }
    body {
        font-size: 30px !important;
    }
    .slider img {
        display: none;
        width: 1000px;
        height: 700px;
       
    }
    main {
        width: 1000px;
        height: 730px;
        background-color:#722525;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sheet {
        width: 720px !important;
    }
    body {
        font-size: 30px !important;
    }
    .slider img {
        display: none;
        width: 750px;
        height: 650px;
        padding: 0px 10px 10px 0px;
    }
    main {
        width: 770px;
        height: 700px;
        background-color: #722525;
    }
    footer {
        height: 300px !important;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .sheet {
        width: 540px !important;
    }

    footer {
        height: 300px !important;
    }

    d1 {
        float: right;
    }
    body {
        font-size: 25px !important;
    }
    .slider img {
        display: none;
        width: 600px;
        height: 500px;
    }
}
    .inner {
        width: 100%;
    }

    .links {
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .link-box {
        width: 100%;
    }
@media (max-width: 575px) {
    .sheet {
        width: 340px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    footer {
        height: 120px;
        text-align: center;
    }

    .d1 .d2 .d3 {
        text-align: center;
    }
    body {
        font-size: 25px !important;
    }
        .inner {
        width: 100%;
    }

    .links {
        width: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .link-box {
        width: 100%;
    }
}
