body
{
    background-color: #722725;
}
header {
    position:sticky;
}
.dheader {
    width: 1455px;
    height: 70px;
    background-color: white;
    align-content: center;
 
}
.svlogo {
    width: 100px;
    height: 100px;
    float: left;
    margin: auto;
}
.headtext {
    display: inline-block;
    text-align: center;
    padding-top:10px;
    width: 100px;
    height: 100px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin:30px 40px 40px ;
}

.item {
    width: 30%;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    text-align: center;

    margin-top: 40px;
}
.pics {
    width: 100%;
    height: 230px;
}
.inner {
    width: 100px;
    border: none;
    margin: auto;
    padding-top: 1px;
}
.pics p {
    position: absolute;
    text-align: center;
    font-size: 30px; /* Размер шрифта текста */
}
footer {
    background-color: #d2d1d1;
    width: 100%;
    height: 120px;
}

.d1 {
    float: left;
    vertical-align: middle;
}

.d2 {
    float: right;
}

h3 {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.d3 {
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-left: 150px;
}

.toimg {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
